.footer {
    background-color: #DBEFEC;
    height: 150px; 
    position:relative;
    bottom:0;
    padding:20px;
    margin-top:30px;
 }
.col{
    flex:1;
} 
.row1{
    display:flex;
    justify-content: space-between;
}  
.topic{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.topic h2{
    margin:0;
}
.h1{
    font-family:"Inknut Antiqua", serif;
}
.navbar_sell{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 40px; 
}
 /* form */
.a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Full viewport height */ 
    margin-top:50px;
}
 /* form-font */
.container{
    justify-content:center;
    font-family:"Cormorant Garamond", serif;
    font-size:20px;
} 
 /* input text field */
input[type="text"]{ 
border-radius:5px;
} 
 /* bottom class  */
.custom-button {
width: 150px; /* Width of the button */
height: 40px; /* Height of the button */
background-color: #4CAF50; /* Background color (Green) */
color: white; /* Text color */
font-size: 20px; /* Font size */
border: none; /* Remove default border */
border-radius: 10px; /* Rounded corners */
cursor: pointer; /* Change cursor on hover */
padding: 10px 20px; /* Padding inside the button */
text-align: center; /* Center the text inside the button */
}

.custom-button:hover {
background-color: #45a049; /* Darker green on hover */
}